@{
    ViewBag.Title = "Calculator Form";
    Layout = "_layout";
}

<div class="container">
    <div class="row justify-content-md-center">
    <div class="col-6">
            <h2>Kalkulator</h2>
        <form action="Result" method="POST">
            <div class="mb-3">
                <label class="form-label" for="X">Liczba 1</label>
                <input class="form-control" type="number" name="X" step="0.00001" id="X"/>
            </div>
            <div class="mb-3">
                <select name="op">
                    <option value="add">+</option>
                    <option value="sub">&minus;</option>
                    <option value="mul">&times;</option>
                    <option value="div">&divide;</option>
                </select>
            </div>
            <div class="mb-3">
                <label class="form-label" for="Y">Liczba 2</label>
                <input class="form-control" type="number" name="Y" step="0.00001" id="Y"/>
            </div>
            <div class="mb-3">
                <button class="btn btn-primary" type="submit">Oblicz</button>
            </div>
        </form>
    </div>
</div>